/* Styling for homepage */
/* Navbar styling in main.css */

/* Jumbotron */

.jumbotron {
    color: white;
    font-family: sans-serif;
    background-image: url(../images/city.jpg);
    background-size: cover;
    max-width: 100%;
    min-height: 10em;
}

#jumbohead {
    padding-top: 5em;
}

#jumbodiv {
    background-color: rgba(0, 0, 0, .5);
    margin-top: 3em;
    padding-bottom: 3em;
    border-radius: 5px;
}

.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

/* Button */
.jumbotron .btn-primary {
    border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
    background: #7646c1;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgba(255, 255, 255, 0.85);
}

/* Headers and fonts */

.header {
    color: #FFFFFF;
    display: table;
    position: relative;
    width: 100%;
}

div div div h3 {
    font-family: Arial, Trebuchet MS;
}

h1 {
    font-family: 'Roboto', serif;
    font-size: 500%;
}

h2 {
    font-family: 'Roboto', serif;
    font-size: 225%;
}

p {
    font-family: 'Roboto', serif;
}

.vertical-center {
    height: 100%;
    width: 100%;
    text-align: center;
    /* align the inline(-block) elements horizontally */
}

.bottom-columns {
    padding-bottom: 2em;
}