/* Styling for homepage */

/* Navbar */

.navbar {
    margin-bottom: 0px;
}

.navbar-text {
    vertical-align: middle;
    padding: inherit;
    height: inherit;
    margin-bottom: auto;
    text-align: center;
}

#phone {
    text-align: left;
    padding-right: 3em;
}

/* Jumbotron */

.jumbotron {
    color: white;
    font-family: sans-serif;
    background-image: url(../images/city.jpg);
    background-size: cover;
    rgba(0, 0, 0, .5);
    max-width: 100%;
}

#jumbohead {
    padding-top: 5em;
}

.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

/* Button */
.jumbotron .btn-primary {
    border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
    background: #7646c1;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgba(255, 255, 255, 0.85);
}

/* Headers and fonts */

.header {
    color: #FFFFFF;
    display: table;
    position: relative;
    width: 100%;
}

div div div h3 {
    font-family: Arial, Trebuchet MS;
}

h1 {
    font-family: 'Roboto', serif;
    font-size: 5em;
}

h2 {
    font-family: 'Roboto', serif;
    font-size: 2.25em;
}

p {
    font-family: 'Roboto', serif;
}


.vertical-center {
    height: 100%;
    width: 100%;
    text-align: center;
    /* align the inline(-block) elements horizontally */
}

.bottom-columns {
    padding-bottom: 2em;
}